<html>

  <body>
    <div class="container">
      <h1>Stupid Coaching</h1>

      <h5>Ask your coach anything</h5>

        <form class="simple_form" action="answer">
          <input type="text" name="question" method="get" placeholder="Type your question here">
          <input type="submit" value="Ask!">
        </form>
    </div>
  </body>
</html>
